 @{
    ViewData["Title"] = "AboutUs Page";
}
@section Title {
    <title>About Our Real Estate Investment Company | UAE Investor Support</title>
    <meta name="description" content="Learn about our mission to guide and support real estate investors in the UAE. We provide expert, caring assistance from off-plan to rental investments—building long-term value and trust." />
}
<!-- Hero section start -->
<section class="bg-no-repeat bg-left-bottom xl:bg-right-bottom bg-contain xl:bg-cover my-bg h-[450px] lg:h-[500px] xl:h-[650px] flex flex-wrap items-center relative">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="max-w-[420px] text-center mx-auto">
                    <div class="mb-5"><span class="text-base text-lit-blu block">About us</span></div>
                    <h1 class="font-lora text-white text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl title font-medium">
                        About Elite<span class="text-lit-blu">.</span>
                    </h1>
                    <p class="text-base mt-5 text-white">Helping you invest wisely and find your ideal property with consultancy based solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- About section start -->
<section class="relative z-[1] mt-[80px] xl:mt-0">
    <div class="container">
        <div class="items-center">
            <div class="lg:mb-[60px] mb-10 -mt-[150px]">
                <img class="mx-auto w-full" src="~/assets/images/about/ABout-Us-Hero.png" width="597" height="716" alt="ABout-Us-Hero image">
            </div>
            <div class="max-w-[830px] mx-auto text-center">
                <!-- <span class="text-secondary text-tiny inline-block mb-2">Since 1975</span> -->
                <h2 class="font-lora text-dark-blutext-[24px] sm:text-[30px] leading-[1.3888] xl:text-[35px] capitalize mb-[30px] lg:mb-[50px] font-medium"> We offer personalized real estate solutions with endless opportunities to maximize ROI and secure your dream property in Dubai prime locations<span class="text-lit-blu">.</span></h2>

            </div>
        </div>
    </div>
</section>
<!-- About section end -->
<!-- About Us Sectin Start -->
<section class="about-section pt-[80px] lg:pt-[120px]">
    <div class="container">
        <div class="grid grid-cols-12 gap-6 items-center">
            <div class="col-span-12 lg:col-span-6">
                <!-- <span class="text-secondary text-tiny inline-block mb-2">Why Elite Real-Estate Is Your Top Property Destination </span> -->
                <h2 class="font-lora text-primary text-[24px] sm:text-[30px] leading-[1.277] xl:text-xl capitalize mb-5 lg:mb-16 font-medium max-w-[500px]">We provide a wide range of best properties customized to your needs and  budget<span class="text-lit-blu">.</span></h2>
                <div class="scene" data-relative-input="true">
                    <img data-depth="0.1" src="~/assets/images/about/About-2nd-Image.png" class="" loading="lazy" width="729" height="663" alt="about Image">
                </div>
            </div>
            <div class="col-span-12 lg:col-span-6 lg:pl-[70px]">
                <p class="max-w-[448px] ">Off Plan, Secondary, or rent top properties, including premium villas and plate. Explore endless options with expert consultancy and exclusive deals. </p>

                <div class="-mb-10 mt-12 xl:mt-[70px] 2xl:mt-[100px]">
                    <div class="flex flex-wrap mb-5 lg:mb-10">
                        <img src="~/assets/images/about/Vision.png" class="self-start mr-5" loading="lazy" width="50" height="50" alt="vision Image">
                        <div class="flex-1">
                            <h3 class="font-lora text-primary text-[22px] xl:text-lg capitalize mb-2">Vision</h3>
                            <p class="max-w-[315px]">Empowering investors with data-driven strategies that maximize profitability and ensure long-term success.</p>
                        </div>

                    </div>
                    <div class="flex flex-wrap mb-5 lg:mb-10">
                        <img src="~/assets/images/about/Mission.png" class="self-start mr-5" loading="lazy" width="50" height="50" alt="mission Image">
                        <div class="flex-1">
                            <h3 class="font-lora text-primary text-[22px] xl:text-lg capitalize mb-2">Mission</h3>
                            <p class="max-w-[315px]">To simplify property investments through personalized consultancy, ensuring risk-free and high-return opportunities.</p>
                        </div>

                    </div>
                    <div class="flex flex-wrap mb-5 lg:mb-10">
                        <img src="~/assets/images/about/Core-Value.png" class="self-start mr-5" loading="lazy" width="50" height="50" alt="core value Image">
                        <div class="flex-1">
                            <h3 class="font-lora text-primary text-[22px] xl:text-lg capitalize mb-2">
                                Core value
                            </h3>
                            <p class="max-w-[315px]">Trust, transparency, and innovation to ensuring secure and profitable investments for every client.</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- About Us Sectin End -->
<!-- service Section Start-->
<!-- service Section End-->
<!-- Testimonial carousel Start -->
<!-- Testimonial carousel End -->
<!-- Brand section Start-->
<section class="brand-section pt-[80px] lg:pt-[125px] pb-[80px] lg:pb-[125px]">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="mb-[60px] text-center">
                    <!-- <span class="text-lit-blu text-tiny inline-block mb-2">Our Partner’s</span> -->
                    <h2 class="font-lora text-dark-blu text-[24px] sm:text-[30px] xl:text-xl capitalize font-medium">
                        Our Partners<span class="text-lit-blu">.</span>
                    </h2>
                </div>
            </div>
            <div class="col-span-12">
                <div class="brand-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- swiper-slide start -->
                            <div class="swiper-slide text-center">
                                <a href="#" class="block">
                                    <img src="~/assets/images/OffPlan/Logo-1.png" class="w-auto h-auto block mx-auto" loading="lazy" width="125" height="109" alt="@@title">
                                </a>
                            </div>
                            <div class="swiper-slide text-center">
                                <a href="#" class="block">
                                    <img src="~/assets/images/OffPlan/Logo-2.png" class="w-auto h-auto block mx-auto" loading="lazy" width="125" height="109" alt="@@title">
                                </a>
                            </div>
                            <div class="swiper-slide text-center">
                                <a href="#" class="block">
                                    <img src="~/assets/images/OffPlan/Logo-3.png" class="w-auto h-auto block mx-auto" loading="lazy" width="125" height="109" alt="@@title">
                                </a>
                            </div>
                            <div class="swiper-slide text-center">
                                <a href="#" class="block">
                                    <img src="~/assets/images/OffPlan/Logo-4.png" class="w-auto h-auto block mx-auto" loading="lazy" width="125" height="109" alt="@@title">
                                </a>
                            </div>
                            <div class="swiper-slide text-center">
                                <a href="#" class="block">
                                    <img src="~/assets/images/OffPlan/Logo-5.png" class="w-auto h-auto block mx-auto" loading="lazy" width="125" height="109" alt="@@title">
                                </a>
                            </div>
                            <div class="swiper-slide text-center">
                                <a href="#" class="block">
                                    <img src="~/assets/images/OffPlan/Logo-6.png" class="w-auto h-auto block mx-auto" loading="lazy" width="125" height="109" alt="@@title">
                                </a>
                            </div>

                            <div class="swiper-slide text-center">
                                <a href="#" class="block">
                                    <img src="~/assets/images/OffPlan/Logo-7.png" class="w-auto h-auto block mx-auto" loading="lazy" width="125" height="109" alt="@@title">
                                </a>
                            </div>

                            <div class="swiper-slide text-center">
                                <a href="#" class="block">
                                    <img src="~/assets/images/OffPlan/Logo-8.png" class="w-auto h-auto block mx-auto" loading="lazy" width="125" height="109" alt="@@title">
                                </a>
                            </div>

                            <div class="swiper-slide text-center">
                                <a href="#" class="block">
                                    <img src="~/assets/images/OffPlan/Logo-9.png" class="w-auto h-auto block mx-auto" loading="lazy" width="125" height="109" alt="@@title">
                                </a>
                            </div>

                            <!-- swiper-slide end-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Brand section End-->
<!-- News Letter section start -->
<section class="py-[80px] lg:p-[90px] my-bg relative">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="col-span">
                <div class="flex flex-wrap items-center justify-between">
                    <div class="w-full lg:w-auto">
                        <h3 class="font-lora text-white text-[24px] sm:text-[30px] xl:text-[36px] leading-[1.277] mb-[10px]">Are you a Home Owner?</h3>
                        <p class="text-white leading-[1.5] tracking-[0.03em] mb-10">Put your email address and get listed.</p>
                        <form id="mc-form" action="#" class="relative w-full">
                            <input id="mc-email" class="font-light text-white leading-[1.75] opacity-100 border border-secondary w-full lg:w-[395px] xl:w-[495px] h-[60px] rounded-[10px] py-[15px] pl-[15px] pr-[15px] sm:pr-[135px] focus:border-white focus:outline-none border-opacity-60 placeholder:text-[#E2E2E2] bg-transparent" type="text" placeholder="Enter your email here...">
                            <button id="mc-submit" type="submit" class="text-white font-medium text-[16px] leading-none tracking-[0.02em] bg-secondary py-[17px] px-[20px] mt-5 sm:mt-0 rounded-[10px] hover:bg-white hover:text-primary transition-all sm:absolute sm:right-[4px] sm:top-1/2 sm:-translate-y-1/2">Get Listed</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success text-green-400"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error text-red-600"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                    <div class="w-full hidden lg:block lg:w-auto mt-5 lg:mt-0">
                        <div class="relative mt-10 md:mt-0 lg:absolute lg:right-0 lg:bottom-0">
                            <img class="hero_image lg:max-w-[550px] xl:max-w-[650px] 2xl:max-w-[714px]" src="~/assets/images/home/Are-you-a-home-owner.png" width="866" height="879" alt="hero image">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- News Letter section End -->
 
