 <section class="bg-no-repeat bg-center bg-cover bg-[#FFF6F0] h-[350px] lg:h-[513px] flex flex-wrap items-center relative before:absolute before:inset-0 before:content-[''] before:bg-[#000000] before:opacity-[70%]" style="background-image: url('assets/images/breadcrumb/bg-1.png');">
            <div class="container">
                <div class="grid grid-cols-12">
                    <div class="col-span-12">
                        <div class="max-w-[700px]  mx-auto text-center text-white relative z-[1]">
                            <div class="mb-5"><span class="text-base block">Our Blog</span></div>
                            <h1 class="font-lora text-[32px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl font-medium">
                                Latest Blog Post
                            </h1>

                            <p class="text-base mt-5 max-w-[500px] mx-auto text-center">
                                Huge number of propreties availabe here for buy and sell
                                also you can find here co-living property as you like
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero section end -->

        <!-- Blog Section Start  -->
        <section class="blog-section py-[80px] lg:py-[120px]">
            <div class="container">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-[30px] gap-y-[40px]">
            <div class="post-item">
                <a href="blog-details" class="block overflow-hidden rounded-[6px] mb-[35px]">
                    <img class="w-full h-full" src="assets/images/home/Popular-1.png" width="370" height="270" loading="lazy" alt="Tip’s about Real Estate Recent Conditions from Agent.">
                </a>
                <div>
                    <span class="block leading-none font-normal text-[14px] text-secondary mb-[10px]">James Alber on 22 December, 21</span>
                    <h3>
                        <a href="blog-details" class="font-lora text-[22px] xl:text-[24px] leading-[1.285] text-primary block mb-[10px] hover:text-secondary transition-all font-medium">
                            Tip’s about Real Estate Recent Conditions from Agent.
                        </a>
                    </h3>
                    <p class="font-light text-[#494949] text-[16px] leading-[1.75] mb-[15px] ">
                        Properties are most budget friendly so you have are opportunity to find are the best the best...
                    </p>
                    <a href="blog-details" class="inline-block bg-primary text-white text-[14px] px-5 py-2 rounded-[6px] hover:bg-secondary transition-all">
                        Read More
                    </a>
                </div>
            </div>

                    <div class="post-item">
                        <a href="blog-details" class="block overflow-hidden rounded-[6px] mb-[35px]">
                    <img class="w-full h-full" src="assets/images/home/Popular-2.png" width="370" height="270" loading="lazy" alt="Importance of Build quality of modern Real Estate.">
                        </a>
                        <div>
                            <span class="block leading-none font-normal text-[14px] text-secondary mb-[10px]">Shohel Gyes on 21 December, 22</span>
                            <h3><a href="blog-details" class="font-lora text-[22px] xl:text-[24px] leading-[1.285] text-primary block mb-[10px] hover:text-secondary transition-all font-medium">Importance of Build quality of modern Real Estate.</a></h3>
                    <p class="font-light text-[#494949] text-[16px] leading-[1.75] mb-[15px]">Properties are most budget friendly so you have are opportunity to find are the best the best...</p>
                    <a href="blog-details" class="inline-block bg-primary text-white text-[14px] px-5 py-2 rounded-[6px] hover:bg-secondary transition-all">
                        Read More
                    </a>
                        </div>
                    </div>
                    <div class="post-item">
                        <a href="blog-details" class="block overflow-hidden rounded-[6px] mb-[35px]">
                    <img class="w-full h-full" src="assets/images/home/Popular-3.png" width="370" height="270" loading="lazy" alt="Most Popular Real Estae area you can choose from.">
                        </a>
                        <div>
                            <span class="block leading-none font-normal text-[14px] text-secondary mb-[10px]">Ethan Patel on 19 December, 21</span>
                            <h3><a href="blog-details" class="font-lora text-[22px] xl:text-[24px] leading-[1.285] text-primary block mb-[10px] hover:text-secondary transition-all font-medium">Most Popular Real Estae area you can choose from.</a></h3>
                    <p class="font-light text-[#494949] text-[16px] leading-[1.75] mb-[15px]">Properties are most budget friendly so you have are opportunity to find are the best the best...</p>
                    <a href="blog-details" class="inline-block bg-primary text-white text-[14px] px-5 py-2 rounded-[6px] hover:bg-secondary transition-all">
                        Read More
                    </a>
                        </div>
                    </div>
                    <div class="post-item">
                        <a href="blog-details" class="block overflow-hidden rounded-[6px] mb-[35px]">
                    <img class="w-full h-full" src="assets/images/home/Popular-4.png" width="370" height="270" loading="lazy" alt="The Home Buying Process: A Comprehensive Guide.">
                        </a>
                        <div>
                            <span class="block leading-none font-normal text-[14px] text-secondary mb-[10px]">Harshel Gibs on 17 December, 21</span>
                            <h3><a href="blog-details" class="font-lora text-[22px] xl:text-[24px] leading-[1.285] text-primary block mb-[10px] hover:text-secondary transition-all font-medium">The Home Buying Process: A Comprehensive Guide.</a></h3>
                    <p class="font-light text-[#494949] text-[16px] leading-[1.75] mb-[15px]">Properties are most budget friendly so you have are opportunity to find are the best the best...</p>
                    <a href="blog-details" class="inline-block bg-primary text-white text-[14px] px-5 py-2 rounded-[6px] hover:bg-secondary transition-all">
                        Read More
                    </a>
                        </div>
                    </div>
                    <div class="post-item">
                        <a href="blog-details" class="block overflow-hidden rounded-[6px] mb-[35px]">
                    <img class="w-full h-full" src="assets/images/home/Popular-5.png" width="370" height="270" loading="lazy" alt="The Best Types Of Real Estate Investments information.">
                        </a>
                        <div>
                            <span class="block leading-none font-normal text-[14px] text-secondary mb-[10px]">Garry Sobers on 15 December, 21</span>
                            <h3><a href="blog-details" class="font-lora text-[22px] xl:text-[24px] leading-[1.285] text-primary block mb-[10px] hover:text-secondary transition-all font-medium">The Best Types Of Real Estate Investments information.</a></h3>
                    <p class="font-light text-[#494949] text-[16px] leading-[1.75] mb-[15px]">Properties are most budget friendly so you have are opportunity to find are the best the best...</p>
                    <a href="blog-details" class="inline-block bg-primary text-white text-[14px] px-5 py-2 rounded-[6px] hover:bg-secondary transition-all">
                        Read More
                    </a>
                        </div>
                    </div>
                    <div class="post-item">
                        <a href="blog-details" class="block overflow-hidden rounded-[6px] mb-[35px]">
                    <img class="w-full h-full" src="assets/images/home/Popular-1.png" width="370" height="270" loading="lazy" alt="How Much Does Land Survey Cost in 2022?.">
                        </a>
                        <div>
                            <span class="block leading-none font-normal text-[14px] text-secondary mb-[10px]">Shane Watson on 10 December, 21</span>
                    <h3><a href="blog-details" class="font-lora text-[22px] xl:text-[24px] leading-[1.285] text-primary block mb-[10px] hover:text-secondary transition-all font-medium">The Home Buying Process: A Comprehensive Guide.</a></h3>
                    <p class="font-light text-[#494949] text-[16px] leading-[1.75] mb-[15px]">Properties are most budget friendly so you have are opportunity to find are the best the best...</p>
                    <a href="blog-details" class="inline-block bg-primary text-white text-[14px] px-5 py-2 rounded-[6px] hover:bg-secondary transition-all">
                        Read More
                    </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Blog Section End  -->

        <!-- News Letter section End -->

