
@{
    ViewData["Title"] = "Off Plan";
}
@section Title {
    <title>Off-Plan Properties for Investment in UAE | Guaranteed Handover </title>
    <meta name="description" content="Secure premium off-plan real estate in Dubai and across the UAE with expert consulting. We hand over the property on the guaranteed timeline " />
}
<!-- Hero section start -->
<section class="p-[15px] bg-no-repeat bg-center bg-cover bg-[#FFF6F0] h-[350px] lg:h-[513px] flex flex-wrap items-center relative before:absolute before:inset-0 before:content-[''] " style="height:100vh;background-image: url('/assets/images/OffPlan/Hero.png');">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="max-w-[650px]  mx-auto text-center text-white relative z-[1]">
                    <div class="mb-5"><span class="text-base block">Services</span></div>
                    <h1 class="font-lora text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl font-medium">
                        Off-Plan Properties
                    </h1>

                    <p class="text-base mt-5 max-w-[500px] mx-auto text-center">
                        Secure your future with off-plan properties with high returns and flexible payment plans. Explore premium developments that align with your investment goals.
                    </p>
                    <div class="inline-block hero_btn">
                        <a href="#" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-white before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto hover:text-primary before:transition-all leading-none px-[20px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-secondary after:rounded-md after:transition-all block mt-5" onclick="openPopup()">Get Expert Advice</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- Addvanced search tab start -->
<!-- Addvanced search tab end -->
<!-- About Us Sectin Start -->
<section class="about-section pt-[80px] lg:pt-[120px]" >
    <div class="container">
        <div class="grid grid-cols-12 gap-x-[30px] mb-[-30px]">
            <div class="col-span-12 lg:col-span-6 relative mb-[30px] lg:order-2">
                <div class="scene" data-relative-input="true">
                    <img class="block mx-auto" data-depth="0.1" src="~/assets/images/OffPlan/Why-choose-us.png" loading="lazy" width="605" height="505" alt="why-choose-us Image">
                </div>
            </div>
            <div class="col-span-12 lg:col-span-6 mb-[30px] lg:order-1" >
                <div class="max-w-[480px] ms-auto">
                    <span class="text-lit-blu text-tiny inline-block mb-2">Why Choose us ?</span>
                    <h2 class="font-lora text-dark-blu text-[24px] sm:text-[30px] leading-[1.277] xl:text-xl max-w-[500px] mb-3 font-medium">Exclusive Opportunities for Smart Investors<span class="text-lit-blu">.</span></h2>
                    <p class="">We connect you with the most promising off-plan properties in Dubai, ensuring high ROI and early investment benefits. Whether buying for yourself or investing, our experts guide you every step of the way.</p>


                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-[20px] -mb-[30px] mt-[45px]">
                    <div class="mb-[30px] lg:mb-10 border border-[#FFF6F0] p-[4px] rounded-[8px] transition-all hover:drop-shadow-[0px_10px_20px_rgba(0,0,0,0.1)] hover:bg-[#E8F1FF] hover:border-[#E8F1FF]">
                        <img src="~/assets/images/OffPlan/Off-plan.png" class="max-w-[38px] self-start mb-[15px]" loading="lazy" width="50" height="50" alt="about Image">
                        <div>
                            <h3 class="font-lora text-dark-blu text-base capitalize mb-[5px]">Off-Plan</h3>
                            <p class="text-[14px]">Get ahead by investing in under-construction projects with high growth potential and flexible payment plans.</p>
                        </div>

                    </div>
                    <div class="mb-[30px] lg:mb-10 border border-[#FFF6F0] p-[4px] rounded-[8px] transition-all hover:drop-shadow-[0px_10px_20px_rgba(0,0,0,0.15)] hover:bg-[#E8F1FF] hover:border-[#E8F1FF]">
                        <img src="~/assets/images/OffPlan/Exclusive-launches.png" class="max-w-[38px] self-start mb-[15px]" loading="lazy" width="50" height="50" alt="Exclusive-launches Image">
                        <div>
                            <h3 class="font-lora text-dark-blu text-base capitalize mb-[5px]">Exclusive Launches</h3>
                            <p class="text-[14px]">Gain early access to pre-launch developments with special investor benefits and lower entry costs.</p>
                        </div>

                    </div>
                    <div class="mb-[30px] lg:mb-10 border border-[#FFF6F0] p-[4px] rounded-[8px] transition-all hover:drop-shadow-[0px_10px_20px_rgba(0,0,0,0.1)] hover:bg-[#E8F1FF] hover:border-[#E8F1FF]">
                        <img src="~/assets/images/OffPlan/Future-ready-investment.png" class="max-w-[38px] self-start mb-[15px]" loading="lazy" width="50" height="50" alt="Future-ready-investment Image">
                        <div>
                            <h3 class="font-lora text-dark-blu text-base capitalize mb-[5px]">Future-Ready Investments</h3>
                            <p class="text-[14px]">Secure properties designed for modern living, ensuring strong value appreciation upon completion.</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- About Us Sectin End -->
<!-- Service sction start -->
<section class="service-section pt-[80px] lg:pt-[120px]">

    <div class="container">
        <div class="grid grid-cols-12 text-center">
            <div class="col-span-12 text-center mb-[55px]">
                <div class="max-w-[460px] mx-auto">
                    <!-- <span class="text-lit-blu text-tiny inline-block mb-2">How we Works</span> -->
                    <h2 class="font-lora text-dark-blu text-[24px] sm:text-[30px] leading-[1.277] xl:text-xl capitalize mb-3 font-medium">
                        A Simple and Smooth Process<span class="text-lit-blu">.</span>
                    </h2>

                    <p>A simple and transparent approach to investing in off-plan properties in Dubai for long-term growth.</p>
                </div>
            </div>
        </div>

        <div class="grid gap-x-[50px] grid-cols-1 sm:grid-cols-2 md:grid-cols-3 mb-[-30px] xl:px-[35px]">
            <div class="relative p-[20px] xl:p-[30px] mb-[30px] bg-[#E8F1FF] hover:bg-[#FFF6F0] transition-all drop-shadow-[0px_10px_20px_rgba(0,0,0,0.15)] rounded-[10px] skew-left">
                <div class="flex flex-wrap justify-between">
                    <span class="font-lora text-[28px] leading-none text-lit-blu mb-[10px] block">01.</span>
                    <img class="self-start mb-[-20px] md:mb-[0] lg:mb-[-20px]" src="~/assets/images/OffPlan/Project-Insights.png" alt="Project-Insights image" width="50" height="50" loading='lazy' />
                </div>
                <h3 class="font-lora text-base text-dark-blu mb-[5px]">	Project Insights</h3>
                <p class="font-light text-[14px] max-w-[250px]">We provide expert insights into top off-plan developments to help you choose wisely.</p>
            </div>
            <div class="relative p-[20px] xl:p-[30px] mb-[30px] hover:bg-[#FFF6F0] bg-[#FFF6F0] transition-all drop-shadow-[0px_10px_20px_rgba(0,0,0,0.15)] rounded-[10px]">
                <div class="flex flex-wrap justify-between">
                    <span class="font-lora text-[28px] leading-none text-lit-blu mb-[10px] block">02.</span>
                    <img class="self-start mb-[-20px] md:mb-[0] lg:mb-[-20px]" src="~/assets/images/OffPlan/Contract-signing.png" alt="Contract-signing image" width="50" height="50" loading='lazy' />
                </div>
                <h3 class="font-lora text-base text-dark-blu mb-[5px]"> 	Contract Signing</h3>
                <p class="font-light text-[14px] max-w-[250px]">WOur specialists guide you through the purchase agreement for a secure transaction.</p>
            </div>
            <div class="relative p-[20px] xl:p-[30px] mb-[30px] bg-[#E8F1FF] hover:bg-[#FFF6F0] transition-all drop-shadow-[0px_10px_20px_rgba(0,0,0,0.15)] rounded-[10px] skew-right">
                <div class="flex flex-wrap justify-between">
                    <span class="font-lora text-[28px] leading-none text-lit-blu mb-[10px] block">03.</span>
                    <img class="self-start mb-[-20px] md:mb-[0] lg:mb-[-20px]" src="~/assets/images/OffPlan/Handover.png" alt="Handover image" width="50" height="54" loading='lazy' />
                </div>
                <h3 class="font-lora text-base text-dark-blu mb-[5px]">	Property Handover</h3>
                <p class="font-light text-[14px] max-w-[250px]">We ensure a smooth transition from investment to ownership upon project completion.</p>
            </div>
        </div>
    </div>
</section>
<!-- Service sction end -->
<!-- interior carousel Start -->
<section class="pt-[80px] lg:pt-[120px] interior-carousel">
    <div class="container">
        <div class="grid grid-cols-12 items-center">
            <div class="col-span-12 lg:col-span-4 pb-[30px] relative lg:pr-[30px] xl:pr-[45px] lg:mb-0 mb-12">
                <h2 class="font-lora text-dark-blu text-[24px] sm:text-[30px] leading-[1.277] xl:text-xl capitalize mb-3 font-medium">Smart Investments & Luxury Living<span class="text-lit-blu">.</span></h2>
                <p class="mb-10">Discover off-plan properties designed for modern living and long-term growth. Whether you're investing or securing a future home, we simplify the journey.</p>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev w-[36px] h-[36px] rounded-full bg-primary text-white hover:bg-secondary top-auto bottom-0 left-0">
                </div>
                <div class="swiper-button-next w-[36px] h-[36px] rounded-full bg-primary text-white hover:bg-secondary top-auto bottom-0 left-[56px]">
                </div>
            </div>
            <div class="col-span-12 lg:col-span-8 rounded-[10px] overflow-hidden">
                <div class="swiper">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide rounded-[10px] overflow-hidden w-auto">
                            <img src="~/assets/images/OffPlan/Luxurious-Interior-1.png" alt="interior image" width="330" height="360">
                        </div>

                        <div class="swiper-slide rounded-[10px] overflow-hidden w-auto">
                            <img src="~/assets/images/OffPlan/Luxurious-Interior-2.png" alt="interior image" width="240" height="360">
                        </div>

                        <div class="swiper-slide rounded-[10px] overflow-hidden w-auto">
                            <img src="~/assets/images/OffPlan/Luxurious-Interior-3.png" alt="interior image" width="147" height="360">
                        </div>

                        <div class="swiper-slide rounded-[10px] overflow-hidden w-auto">

                            <img src="~/assets/images/OffPlan/Luxurious-Interior-2.png" alt="interior image" width="240" height="360">
                        </div>

                        <div class="swiper-slide rounded-[10px] overflow-hidden w-auto">
                            <img src="~/assets/images/OffPlan/Luxurious-Interior-1.png" alt="interior image" width="330" height="360">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="brand-section pt-[80px] lg:pt-[125px] pb-[80px] lg:pb-[125px] overflow-hidden">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="mb-[60px] text-center">
                    <h2 class="font-lora text-dark-blu text-[24px] sm:text-[30px] xl:text-xl capitalize font-medium">
                        Our Partners<span class="text-lit-blu">.</span>
                    </h2>
                </div>
            </div>
            <div class="col-span-12">
                <div class="logo-slider relative w-full overflow-hidden">
                    <div class="logo-track flex gap-8 items-center w-max">
                        <!-- Duplicate logos for smooth infinite scroll -->
                        <img src="/assets/images/updated_logo/dugasta_logo1.png" alt="Logo 1" class="logo-item" />

                        <img src="assets/images/OffPlan/Logo-1.png" alt="Logo 1" class="logo-item" />
                        <img src="assets/images/OffPlan/Logo-2.png" alt="Logo 2" class="logo-item" />
                        <img src="assets/images/OffPlan/Logo-3.png" alt="Logo 3" class="logo-item" />
                        <img src="assets/images/OffPlan/Logo-4.png" alt="Logo 4" class="logo-item" />
                        <img src="assets/images/OffPlan/Logo-5.png" alt="Logo 5" class="logo-item" />
                        <img src="assets/images/OffPlan/Logo-6.png" alt="Logo 6" class="logo-item" />
                        <img src="assets/images/OffPlan/Logo-7.png" alt="Logo 7" class="logo-item" />
                        <img src="assets/images/OffPlan/Logo-8.png" alt="Logo 8" class="logo-item" />
                        <img src="assets/images/OffPlan/Logo-9.png" alt="Logo 9" class="logo-item" />
                        <!-- Duplicate again -->
                        <img src="assets/images/OffPlan/Logo-1.png" alt="Logo 1" class="logo-item" />
                        <img src="assets/images/OffPlan/Logo-2.png" alt="Logo 2" class="logo-item" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- News Letter section start -->
<section class="py-[80px] lg:p-[90px] my-bg relative">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="col-span">
                <div class="flex flex-wrap items-center justify-between">
                    <div class="w-full lg:w-auto">
                        <h3 class="font-lora text-white text-[24px] sm:text-[30px] xl:text-[36px] leading-[1.277] mb-[10px]">Find Your Ideal Off-Plan Property Today!</h3>
                        <p class="text-white leading-[1.5] tracking-[0.03em] mb-10">Enter your email to receive exclusive pre-launch offers and investment opportunities.</p>
                        <form id="mc-form" action="#" class="relative w-full">
                            <input id="mc-email" class="font-light text-white leading-[1.75] opacity-100 border border-secondary w-full lg:w-[395px] xl:w-[495px] h-[60px] rounded-[10px] py-[15px] pl-[15px] pr-[15px] sm:pr-[135px] focus:border-white focus:outline-none border-opacity-60 placeholder:text-[#E2E2E2] bg-transparent" type="text" placeholder="Enter your email here...">
                            <button id="mc-submit" type="submit" class="text-white font-medium text-[16px] leading-none tracking-[0.02em] bg-secondary py-[17px] px-[20px] mt-5 sm:mt-0 rounded-[10px] hover:bg-white hover:text-primary transition-all sm:absolute sm:right-[4px] sm:top-1/2 sm:-translate-y-1/2">Get Listed</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success text-green-400"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error text-red-600"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                    <div class="w-full hidden lg:block lg:w-auto mt-5 lg:mt-0">
                        <div class="relative mt-10 md:mt-0 lg:absolute lg:right-0 lg:bottom-0">
                            <img class="hero_image lg:max-w-[550px] xl:max-w-[650px] 2xl:max-w-[714px]" src="~/assets/images/home/Are-you-a-home-owner.png" width="866" height="879" alt="Are-you-a-home-owner image">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- News Letter section End -->